XML(9-12)/ej11/Practica 11.dtd

<!ELEMENT alojamientos(alojamiento)+>
	<!ELEMENT alojamiento(cif,direccion,telefono,habitaciones?)>
		<!ATTLIST alojamiento tipo (hotel|hostal|casarural) #REQUIRED>
		<!ELEMENT habitaciones(habitacion)+>
			<!ELEMENT habitacion(precio,estado)>
				<!ATTLIST habitacion id CDATA #REQUIRED>
				<!ELEMENT precio (#PCDATA)>
				<!ATTLIST estado est CDATA #REQUIRED>